{
	"version":1,
	"updates":{
		"2011-9-14":"始建此文件"
	},
	"info":"dsms",
	"classPath": "D:/works/workspace_keel/DSms/WebContent/WEB-INF/classes/",
	"iniPath": "D:/works/workspace_keel/DSms/WebContent/WEB-INF/",
	"debug":true,
	"dataSources":{
		"mongodb_local":{
			"_dbType":"mongodb",
			"ip":"127.0.0.1",
			"port":27017,
			"dbName":"dsms",
			"user":"keel",
			"pwd":"ds_sms_2901",
			"maxWaitTime":5000,
			"connectionsPerHost":30
		}
	},
	"daos":{
		"mongoDao":{
			"_class":"com.k99k.khunter.MongoDao",
			"_dataSource":"mongodb_local",
			"dbType":"mongodb",
			"type":"common",
			"tableName":"*",
			"id":1
		}	
	},
	"tasks":{
		"taskMapInitSize":50000,
		"exePool":{
			"corePoolSize":20,
			"maximumPoolSize":500,
			"keepAliveTime":30000,
			"queueSize":300
		},
		"ratePoolSize":5,
		"scheduledPoolSize":10
	},
	"actionIntro":"_actName=@actname用来引用已经初始化过的act,_actName=*表示为默认Action，name为空时指向此默认Action"
	,
	"actions":[
		{
			"_actName":"console",	
			"_class":"com.k99k.khunter.acts.ConsoleAction",
			"admin":[
				{"name":"keel","pwd":"6667441","level":1,"state":1,"info":"202.102.113.*"},
				{"name":"sike","pwd":"123456","level":2,"state":1,"info":"202.102.40.*"}
			]
		},
		{
			"_actName":"end",
			"_class":"com.k99k.dsms.EndAction"
		},
		{
			"_actName":"sms",
			"_class":"com.k99k.dsms.SmsAction",
			"smsGateIP":"127.0.0.1"
		},
		{
			"_actName":"product",
			"_class":"com.k99k.dsms.ProductAction"
		},
		{
			"_actName":"cp",
			"_class":"com.k99k.dsms.CpAction"
		},
		{
			"_actName":"noti",
			"_class":"com.k99k.dsms.NotiTask"
		},
		{
			"_actName":"dslogTask",
			"_class":"com.k99k.dsms.DsLogTask"
		},
		{
			"_actName":"dsuser",
			"_class":"com.k99k.dsms.DsUserAction"
		},
		{
			"_actName":"dsuserTask",
			"_class":"com.k99k.dsms.DsUserTask"
		},
		{
			"_actName":"PS",
			"_class":"com.k99k.plserver.UpAction",
			"taskDownUrl":"http://180.96.63.73:12370/dsms/task"
		},
		{
			"_actName":"PL",
			"_class":"com.k99k.plserver.LogAction",
			"savePath":"d:/dslogs/"
		},
		{
			"_actName":"logTask",
			"_class":"com.k99k.plserver.LogTask",
			"unzipPath":"d:/dsUnzip/"
		},
		{
			"_actName":"auth",
			"_class":"com.k99k.plserver.AuthAction"
		},
		{
			"_actName":"user",
			"_class":"com.k99k.plserver.UserAction"
		},
		{
			"_actName":"task",
			"_class":"com.k99k.plserver.TaskAction",
			"downloadLocalPath":"d:/dats/"
		},
		{
			"_actName":"sdkVer",
			"_class":"com.k99k.plserver.SdkVerAction"
		},
		{
			"_actName":"actLogTask",
			"_class":"com.k99k.plserver.ActLogTask"
		},
		{
			"_actName":"down",
			"_class":"com.k99k.plserver.DownAction",
			"downloadLocalPath":"d:/dats/",
			"redirectPath":"http://180.96.63.73:12370/dsms/down/"
		}
	],
	"io":{
		"emails":{
			"server":"202.102.111.111"
		}
	}


}
